@model IEnumerable<Assignment1.Models.Equipment>

<h2>Available Equipment</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Assignment1.Models.Equipment equipment in Model)
        {
            <tr>
                <td>@equipment.Id</td>
                <td>@equipment.Type</td>
                <td>@equipment.Description</td>
            </tr>
        }
    </tbody>
</table>
