@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>FAST Equipment Tool</h1>
    <p>The one stop website for students and professors to lend all kinds of IT equipment from the FAST IT department. </p>
</div>
