@model Assignment1.Models.Request
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Received</title>
</head>
<body>
    <div>
        <h2>We have received your request and the ID is : @Model?.Id</h2>
       
    </div>
    </body>
</html>
