@model IEnumerable<Assignment1.Models.Request>

<h2>All Requests</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Equipment Type</th>
            <th>Accept</th>
            <th>Deny</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Assignment1.Models.Request request in Model!)
        {
            <tr>
                <td>@request.Name</td>
                <td>@request.Role</td>
                <td>@request.Equipment</td>
                <td><button type="submit" class="btn btn-secondary btn-block mt-3">Accept</button></td>
                <td><button type="submit" class="btn btn-secondary btn-block mt-3">Deny</button></td>
            </tr>
        }
    </tbody>
</table>
